<h1><%= @list.name.capitalize %></h1>

<p>Here is your list <b><%= @list.name.capitalize %></b></p>
<p>It contains X movies: </p>

DISPLAY HERE MOVIES POSTER, NAME, OVERVIEW, RATING BOOKMARK COMMENT
<p><%= link_to "Back to all lists", lists_path %></p>
